HEAD
* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
=======
# Auto detect text files and perform LF normalization
* text=auto
 f285aa07e0c3018bc14d8aa345620ab235271162
